@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

/* body{
    margin: 0;
    padding: 0;
} */

/* .main-contain {
    width: 80%;
    margin: 0 auto;
   
} */

.frist-ul {
    list-style-type: none;
    display: flex;
    padding: 10px;
    justify-content: center;
    color: #8CC539;
    /* margin-bottom: 0; */
}

.frist-li {
    color: white;
    margin: 0 30px;
}

.img {
    background-image: url(/viedo/Group\ 1000001847-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.nevbar {
    width: 80%;
    margin: 0 auto;
}

.sec-ul {
    list-style-type: none;
    display: flex;
    padding: 10px;
    color: white;
    align-items: center;
    /* margin-top: 0; */
}

.sec-li {
    margin-left: 400px;
    padding: 20px;
}

.nevbar button {
    margin: 20px;
    height: 45px;
    width: 150px;
    border-radius: 10px;
    border: white;
}

.sub-h1 {
    font-weight: 700;
    font-size: 27px;
    padding: 0;
    margin: 0;
    margin-top: 150px;
}

.sub-h1 p {
    color: #8CC539;
    font-size: 13px;
    word-spacing: 4px;
}

h1 {
    margin: 0;
    color: white;
}

.thrid {
    margin-top: 5px;
    align-items: center;
    display: flex;
}

.thrid button {
    background-color: #8CC539;
    color: white;
    width: 200px;
    margin: 0;
}

.thrid ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.thrid li {
    color: white;
    margin: 20px;
    display: flex;
}

.thrid i {
    font-size: 30px;
    margin: 0px 10px 0px 10px;
}

.star i {
    color: yellow;
}

.star p {
    color: white;
    margin: 0;
}

/* second page css*/
.second-page2 {
    width: 100%;
    padding: 100px 0;
}

.second-page {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.second-pagemain {
    width: 50%;
    margin-top: 0;
}

.second-left-text {
    margin-top: 50px;
    margin-left: 115px;
    font-size: 25px;
    width: 50%;
}

.second-left-text sup {
    font-size: 20px;
    font-weight: bold;

}

.second-left-text h2 {
    margin: 0;
    /* font-weight: bold; */
}

.second-left-text P {
    font-size: 15px;
    margin: 0;
    color: #8CC539;
}

.font-icon i {

    color: #8CC539;
    font-size: 18px;
}

.font-icon {
    display: flex;
    margin-top: 22px;
}

.font-icon p {
    color: black;
    font-size: 18px;
    margin-left: 10px;
    padding: 0;
}

.font-icon button {
    background-color: #8CC539;
    border-color: white;
    border-radius: 10px;
    color: white;
    width: 150px;
    height: 40px;
    margin: 0;
}


.button-felx {
    display: flex;
    align-items: flex-end;
}

.star-font {
    margin-left: 15px;
    color: yellow;
}

.star-font p {
    color: black;
}

.second-page img {
    width: 513px;
    height: 400px;
}

.sec-img {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.sec-img img {
    margin: 0;
    height: 127px;
    width: 127px;
}

/* thired page css*/

.third-page {
    width: 100%;
    /* margin: 0 auto; */
    background-color: #c8d3b7;
    padding: 100px 0;
}

.third-pagemain {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    /* margin-top: 100px; */
}

.third-page P {
    color: #8CC539;
}

.third-page h2 {
    padding: 10px;
}

.third-img {
    width: 80%;
    margin: 0 auto;

}

.third-img1 {
    width: 100%;
    display: flex;
}

.third-img2 {
    width: 33%;
    text-align: center;
    padding: 25px 0;
    background-color: white;
    border-radius: 20px;
    margin-top: 25px;
    margin: 0 10px;
}

.third-img2 h3 {
    padding-top: 15px;
}

.icons {
    padding-top: 15px;
}

.third-img2 p {
    color: black;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
}

.third-img3 {
    padding-top: 15px;
}

p.third-img4 {
    text-align: center;
}

hr {
    width: 80%;
    margin: 15px auto 0;
}

hr {
    width: 80%;
    margin: 15px auto 0;
}

p.font-size {
    margin-top: 23px;
}

.home {
    margin-top: 50px;
}

/* four page css*/
.four-page {
    width: 100%;
    padding: 100px 0;
}

.four-page1 {
    width: 80%;
    margin: 0 auto;
}

.four-text {
    width: 60%;
    margin: 0 auto;
}

.four-text p {
    color: #8CC539;
    font-size: 15px;
    padding: 10px 0;
}

.four-display {
    display: flex;
    width: 100%;
    align-items: center;
}

.four-display1 h4 {
    margin-top: 10px;
}

.four-text h3 {
    font-size: 40px;
}

p.four-p {
    color: black;
    font-size: 15px;
}

.four-img {
    width: 50%;
}

.directions {
    flex-direction: row-reverse;
}

.four-contain {
    margin-left: 180px;
}

.four-text1 {
    color: black;
}

.four-img2 {
    margin: 60px 0 20px 0px;
    text-align: center;
}

.four-img2 sup {
    font-size: 8px;
}

.four-img3 {
    width: 100%;
    text-align: center;
}

.four-img4 {
    width: 20%;
    margin: 0 auto;
}

.four-display1 {
    display: flex;
    justify-content: space-between;
}

.icon-1 p {
    color: black;
    margin-left: 5px;
}

.star.icon-1 {
    text-align: justify;
}

.font-icon-1 button {
    background-color: #8CC539;
    border-color: white;
    border-radius: 10px;
    color: white;
    width: 150px;
    height: 40px;
    margin: 0;
    /* margin-right: 10px; */
}

.flex {
    width: 35%;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* five page css*/
.five-page {
    width: 100%;
    padding: 95px 0;
    background-color: #F3F5F1;
}

.five-pagemain {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.five-pagemain p {
    color: #8CC539;
}

.five-pagemain h2 {
    font-size: 40px;
    padding: 10px;
    font-weight: 1200;
}

.five-img {
    width: 80%;
    margin: 10px auto;
}

/*six page css*/
.six-page {
    width: 100%;
    padding: 100px 0;
}

.six-pagemain {
    width: 80%;
    margin: 0 auto;
}

.six-page-text {
    width: 50%;
    left: 0;
}

.six-page-text P {
    color: #8CC539;
}

.six-page-text h2 {
    font-size: 38px;
    margin-top: 10px;
}

.six-page-text h4 {
    padding: 30px 0 0 0;
    font-weight: 800;
    font-size: 18px;
}

h4.six-h4 {
    margin: 0;
    padding: 15px 0;
}

h4.six-h4-1 {
    margin: 0;
    padding: 2px 0;
}

h4.six-h4-2 {
    margin: 0;
    padding: 15px 0 0 0;
}

.icons {
    width: 70%;
    margin: 0 auto;
    left: 0;
}

.six-image-right {
    width: 50%;
    right: 0;
}

.six-page-flex {
    display: flex;
}

/* seven page css */
.seven-page {
    width: 100%;
    padding: 100px 0;
    background-color: #F3F5F1;
}

.seven-pagemain {
    width: 80%;
    margin: 0 auto;
}

.seven-img {
    width: 50%;
}

.seven-page-text {
    width: 50%;
    margin-left: 64px;
}

.seven-page-felx {
    display: flex;
}

.seven-page-text p:first-child {
    color: #8CC539;
    padding: 0 0 15px 0;
    margin: 0;
}

.seven-page-text h2 {
    font-size: 38px;
}

.seven-page-text p {
    font-size: 18px;
    margin: 25px 0 0;
    color: black;
}

.icons1 {
    width: 100%;
    justify-content: flex-start;
}

.icon-1 {
    margin-left: 20px;
}

/*eight page css*/
.eight-page {
    width: 100%;
    padding: 100px 0;
    background-color: #FFFFFF;
}

.eight-pagemain {
    width: 80%;
    margin: 0 auto;
}

.eight-page-text {
    width: 50%;
    margin-top: 110px;
}

.eight-page-text p:first-child {
    color: #8CC539;
    padding: 0 0 15px 0;
}

.eight-page-text h2 {
    font-size: 38px;
    padding: 0 0 20px 0;
}

.eight-page-text p {
    font-size: 19px;
}

.eight-felx {
    display: flex;
}

.eight-page-img {
    width: 50%;
    color: white;
    display: flex;
}

.eight-img {
    width: 60%;
}

.eight-img1 {
    width: 60%;
    margin: 0 0 0 20px;
}

.font-icon-felx {
    display: flex;
    color: black;
    width: 100%;
}

.font-icon-felx i {
    color: #8CC539;
    padding: 25px 0 0 0;
}

.font-icon-felx p {
    font-size: 19px;
    margin: 25px 0 0 10px;
}

i.fa-solid.fa-xmark {
    color: red;
}

/* nine page css*/
.nine-page {
    width: 100%;
    padding: 100px 0;
}

.nine-pagemain {
    width: 80%;
    margin: 0 auto;
    background: #FFF8E7;
    padding: 50px 0;
}

.nine-main-text {
    text-align: center;
}

.nine-main-text h2 {
    font-size: 30px;
    font-family: 'Rubik';
    font-weight: 700;
}

.nine-text {
    padding: 25px 0 20px 0;
}

.nine-felx {
    width: 100%;
    display: flex;
    padding: 40xpx 0;
}

.nine-img {
    width: 35%;
    margin: 0 auto;
}

.nine-img-galary {
    width: 40%;
}

.nine-icon {
    display: flex;
    padding: 15px 0 10px 0;
}

.nine-icon i {
    color: #8CC539;
}

.nine-icon p {
    padding: 0 0 0 10px;
}

.nine-p span {
    color: red;
    text-align: center;
}

.nine-p {
    width: 48%;
    margin: 5px auto 0;
    font-size: 18px;
}

.nine-p h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

/*ten page css */
.ten-page {
    width: 100%;
    height: 500px;
    padding: 90px 0px;
    background-color: #F3F5F1;
}

.sub-ten-page {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.sub-ten-page h2 {
    padding: 20px 0px;
}

.main-ten-page {
    width: 100%;
    height: 88.5%;
    background-image: url(/viedo/ten_page-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.main-contain-ten-page {
    width: 65%;
    height: 100%;
    background-color: #ffffff;
    /* padding: 30px 0 ; */
    border-radius: 15px;
}

.main-contain-ten-page h4 {
    font-size: 22px;
    padding: 15px 0 25px 20px;
}

.fa-chevron-up {
    padding: 0 0 0 425px;
}

.main-contain-ten-page p {
    padding: 0 0 20px 20px;
    font-size: 17px;
}

.main-contain-ten-page span {
    color: #8CC539;
}

.hr {
    width: 100%;
    margin: 0;
    padding: 0;
}

p.main-p {
    padding: 15px 0 10px 20px;
    font-size: 24px;
}

.fa-chevron-down {

    padding: 0 0 0 195px;
}

#down2 {
    padding: 0 0 0 203px;
}

#down3 {
    padding: 0 0 0 222px;
}

#down4 {
    padding: 0 0 0 344px;
}

#down5 {
    padding: 0 0 0 240px;
}

/* eleven page css*/
.eleven-page {
    width: 100%;
    padding: 100px 0px;
}

.eleven-sub-page {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.eleven-page-img {
    width: 50%;
}

.eleven-sub-page-text {
    width: 50%;
}

.eleven-sub-page-text P {
    color: #8CC539;
    margin-left: 80px;
    padding: 0 0 20px 0;
}

.eleven-sub-page-text h2 {
    margin-left: 80px;
    font-size: 50px;
    padding: 0 0 18px 0;
}

.fa-star {
    color: yellow;
}

.eleven-page-icon {
    display: flex;
    margin-left: 80px;
}

.eleven-page-p p {
    color: black;
    margin: 0;
    padding: 0 0 0 20px;
}

.hr1 {
    width: 85%;
    margin-left: 80px;
}

.eleven-short-icon {
    display: flex;
}

.eleven-page-main {
    padding: 35px 0;
}

.eleven-page-main p {
    background: #F3F5F1;
    height: 20px;
    width: 135px;
    color: black;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
}

.eleven-page-main1 {
    padding: 35px 0;

}

.eleven-page-main1 p {
    background-color: #8CC539;
    color: white;
    height: 20px;
    width: 110px;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 25px;
    border-radius: 5px;
}

.eleven-page-main2 {
    padding: 37px 0;
    margin: 0 0 0 5px;
}

.eleven-page-main2 p {
    color: #8CC539;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0px;
}

.eleven-icon i {
    margin-left: 80px;
    color: #8CC539;
    padding: 5px 0 5px 0;

}

.eleven-icon {
    display: flex;
}

.eleven-icon p {
    margin: 0 0 0 15px;
    padding: 5px 0 5px 0;
    color: black;
    font-size: 18px;
}

.eleven-box {
    width: 70%;
    border: 4px dashed #8BC734;
    margin: 0 0 0 80px;
    height: 100px;
    margin: 30px 0;
    margin-left: 80px;
}

.eleven-display-flex {
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.eleven-sale p {
    color: black;
    margin: 25px 0 0 50px;
    font-size: 12px;
}

.eleven-sale2 p {
    color: black;
    margin: 25px;
    font-size: 12px;
}

.eleven-flex {
    display: flex;
}

.fa-circle {
    color: #8BC734;
    margin-left: 20px;
}

.eleven-flex p {
    color: black;
    margin: 0 0 0 12px;
}

.eleven-flex img {
    margin: 0 0 0 135px;
}

.eleven-box1 {
    width: 90%;
    border: 4px dashed #F3F5F1;
    margin: 0 0 0 80px;
    height: 100px;

    margin-left: 80px;
}

.eleven-sale-page p {
    color: black;
    font-size: 12px;
    margin: 20px 0 0 50px;
    padding: 0;
}

.eleven-sale1-page p {
    color: black;
    font-size: 12px;
    margin: 20px 35px 0 0;
    padding: 0;
}

.eleven-sale2-page p {
    color: black;
    font-size: 12px;
    padding: 0;
    margin: -10px 0 0 270px;
}

#circle {
    color: #F3F5F1;
}

.eleven-flex1 {
    display: flex;
}

.eleven-flex1 p {
    color: black;
    font-size: 13px;
    margin: 0 0 0 13px;
}

.eleven-display-flex1 {
    display: flex;
    justify-content: space-between;
    height: 42px;
}

#img1 {
    margin: 0 0 0 75px;
}

#img2 {
    margin: 0 0 0 -35px;
}

.eleven-display-main {
    display: flex;
    margin-top: 30px;
}

.eleven-box-right-text p {
    color: #8CC539;
    margin: 33px 0 0 10px;
    font-size: 16px;
}

.eleven-sale4-page P {
    color: #8CC539;
    font-size: 12px;
    padding: 0;
    margin: -5px 0 0 230px;
}

.eleven-box-right-text1 P {
    color: #EDA82C;
    margin: 33px 0 0 10px;
    font-size: 16px;
}

.eleven-button button {
    text-align: center;
    margin-left: 80px;
    margin-top: 20px;
    width: 400px;
    height: 60px;
    left: 788px;
    top: 10281px;
    background: #8BC734;
    box-shadow: 0px 2px 0px;
    border-radius: 10px;
    color: white;
    border-color: #8BC734;
}

.eleven-text p {
    color: black;
    font-size: 14px;
    margin: 15px 0 0 115px;
    padding: 0 0 8px 0;
}

.eleven-img {
    margin-left: 120px;
}

.eleven-box-icons {
    display: flex;
    margin: 20px 0 20px 80px;
    width: 400px;
    height: 54px;
    left: 788px;
    top: 10466px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    align-items: flex-end;
    justify-content: space-between;
}

.eleven-box-icons p {
    color: black;
    padding: 0;
    margin: 13.5px 0 17.5px 10px;
}

#up {
    padding: 0;
    margin: 13.5px 15px 18px 0;
}

.eleven-box-bottem p {
    color: black;
    font-size: 16px;

    width: 60%;
    margin: 30px 0px 0px 120px;
}

.eleven-box-icons1 {
    display: flex;
    margin: 20px 0 20px 80px;
    width: 400px;
    font-size: 16px;
    height: 54px;
    left: 788px;
    top: 10466px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    align-items: flex-end;
    justify-content: space-between;
}

.eleven-box-icons1 p {
    color: black;
    padding: 0;
    margin: 13.5px 0 17.5px 10px;
}

#down6 {
    padding: 0;
    margin: 13.5px 15px 18px 0;
}

.eleven-ul ul {
    display: flex;
    justify-content: space-evenly;

}

.eleven-ul ul li {
    list-style-type: none;
    font-size: 30px;
    text-align: center;
}

.eleven-ul ul li p {
    font-size: 13px;
    margin: 0;
    color: black !important;
}


/*twelve page css*/
.twelve-page {
    width: 100%;
    padding: 100px 0px;
}

.twelve-sub-page {
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.icon-2 {
    width: 80%;
    margin: 25px auto 0;
}

.icon-2 i {
    color: #8BC734;
}

.icon-2 p {
    color: black;
}

.twelve-flex {
    display: flex;
    width: 80%;
    margin: 20px auto;
}

.twlve-text {
    margin: 50px;
    width: 205px;
    margin: 0 auto;
    height: 418px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637)
}

.main-twlve-text {
    padding: 25px;
}

.text {
    margin-left: 0;
    text-align: left;
}

.tool {
    line-height: 20px;
    padding: 10px 0px;
}

/* thirteen page css*/
.thirteen-page {
    width: 100%;
    padding: 100px 0;
    background-color: black;
}

.thirteen-sub-page {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.thirteen-page-footer p {
    color: white;
    margin: 50px 0 0 0;
}

.thirteen-page-footer1 h3 {
    color: white;
    margin: 0 0 40px 0;
    font-size: 20px;
}

.thirteen-page-footer1 p {
    color: #8BC734;
    margin: 20px 0;
    font-size: 16px;
}

.thirteen-page-footer2 h3 {
    color: white;
    font-size: 20px;
    margin: 0 0 40px 0;
}

#thirteen-footer-color {
    color: #8BC734;
    font-size: 14px;
}

.thirteen-page-footer2 p {
    color: white;
    font-size: 18px;
    margin: 0 0 12px 0;
}

.thirteen-page-footer3 h3 {
    color: white;
    margin: 0 0 40px 0;
    font-size: 20px;
}

.thirteen-page-footer3 p {
    color: white;
}

.thirteen-page-footer {
    width: 25%;
}

.thirteen-page-footer1 {
    width: 25%;
}

.thirteen-page-footer2 {
    width: 20%;
padding: 0px 30px;
}

.thirteen-page-footer3 {
    width: 25%;
}